input {
    // keyboard {
    //     xkb {
    //         layout "eu"
    //     }
    // }
    //
    touchpad {
        tap
        dwt                      
        drag true
        accel-speed 0.2
        scroll-method "two-finger"
        natural-scroll
    }

    mouse {
        accel-speed 0.2
    }

    trackpoint 

    focus-follows-mouse max-scroll-amount="0%"
}

gestures {
  hot-corners {
    off
  }
}
